In [7]:
import glob
import pandas as pd

# change path for different models
# path = 'img_data/gpt/gpt-4-vision/*.csv'   ## ChatGPT
# path = 'img_data/gemini/gemini-1.5-flash/*.csv'   ## Gemini

# path = 'img_data/gpt/img_gpt-4-vision/*.csv'   ## ChatGPT
path = 'img_data/gemini/img_gemini-1.5-flash/*.csv'   ## Gemini

csv_files = glob.glob(path)

In [9]:
#combined_df = pd.concat([pd.read_csv(file) for file in csv_files], ignore_index=True)

combined_df = pd.DataFrame()
for file in csv_files:
    df = pd.read_csv(file)
    combined_df = pd.concat([combined_df,df])
combined_df.rename(columns={
    'run' : 'id'
}, inplace=True)
combined_df

    id  trial  action  reward  probs_blue  probs_orange
0    1      1       0       0        0.25          0.25
1    1      2       1       0        0.25          0.25
2    1      3       1       0        0.25          0.25
3    1      4       1       1        0.25          0.25
4    1      5       1       0        0.25          0.25
..  ..    ...     ...     ...         ...           ...
95  99     96       0       0        0.25          0.25
96  99     97       1       1        0.25          0.25
97  99     98       0       0        0.25          0.25
98  99     99       1       0        0.25          0.25
99  99    100       1       0        0.25          0.25

[20000 rows x 6 columns]

In [11]:
# output_path = 'img_data/gpt_4_vision.csv'   ## ChatGPT
# output_path = 'img_data/gemini.csv'   ## Gemini

# output_path = 'img_data/img_gpt_4_vision.csv'   ## img ChatGPT
output_path = 'img_data/img_gemini.csv'   ## Gemini
combined_df.to_csv(output_path)